
@{
    ViewData["Title"] = "FecharPedido";
    Layout = "~/Views/Shared/LayoutLogado.cshtml";
}

<h1>Pedido Fechado</h1>

@model Pedido
<h1>@ViewBag.Titulo</h1>
<br />


<table class="table">
    <thead>
        <tr>
            <th scope="col">IdPedido</th>
            <th scope="col">Data Reserva</th>
            <th scope="col">Data Retirada Veiculo</th>
            <th scope="col">Data Entrega Veiculo</th>
            <th scope="col">Quantidade de Diárias</th>
            <th scope="col">Valor Total</th>
            <th scope="col">Status</th>

        </tr>
    </thead>
    <tbody>

        <tr>
            <td>@Model.Id</td>
            <td>@Model.Reserva.DataReserva</td>
            <td>@Model.DataRetirada</td>
            <td>@Model.DataEntrega</td>
            <td>
                @{
                    var x = (Model.DataEntrega.Value.Day - Model.DataRetirada.Day);
                }
                @x

            </td>
            <td>R$ @Model.Total        </td>
            <td>
                @Model.Status.Descricao
            </td>

        </tr>

    </tbody>
</table>

<div class="text-center">
    <a id="FechaRsv" asp-controller="Reserva" asp-action="Index"
       class="btn btn-success">Retornar</a>
</div>

@section Scripts{
    <script type="text/javascript">


        $('#Header').hide();

    </script>
}



