
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutLogado.cshtml";
}
@model List<Reserva>
<h1>Lista Reservas</h1>
<br />

@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Data Reserva</th>
                <th scope="col">Usuario</th>
                <th scope="col">Veiculo</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @{
                var t = 0;
            }
            @foreach (var i in Model)

            {
                t++;
            <tr>
                <td>@t</td>
                <td>@i.DataReserva</td>
                <td>
                    @i.usuario.Nome

                </td>
                <td>@i.Veiculo.Marca</td>
                <td>@i.StatusPedido.Descricao</td>
                @if (i.StatusPedido.Id == 1)
                {
                    <td>
                        <div class="text-center">
                            <a id="FechaRsv" asp-controller="Reserva" asp-action="GeraPedido"
                               asp-route-id="@i.Id"
                               class="btn btn-success">Confirmar Reserva</a>
                        </div>
                    </td>
                }
                <td>
                    
                    
                </td>


            </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nenhuma Reserva Encontrada</p>
}

@section Scripts{
    <script type="text/javascript">

        $.ajax({
            url: '/Login/ValidaAdm',
            method: 'Get',
            contentType: 'application/json',

            beforeSend: function () {
                //$("#resultado").html("ENVIANDO...");
            }
        })
            .done(function (msg) {
                debugger;
                if (msg) {
                    $('#FechaPdo,#FechaRsv,#AltUser,#Pedidos').removeAttr('hidden');
                    $('#Nm').html('Pedidos');
                }
                else {
                    $('#FechaPdo,#FechaRsv,#AltUser,#Pedidos').attr('hidden', 'true');
                     $('#Nm').html('Meus Pedidos');
                    debugger;
                }
            })
            .fail(function (jqXHR, textStatus, msg) {
                alert(msg);
            });


    </script>
}



